.App {
  text-align: center;
  font-family: sans-serif;
}


img {
  height: auto;
  width: 50vw;
  margin: 5px auto;
}

.Cat-Card img {
  height: auto;
  width: auto;
  max-height: 300px;
  margin: 5px auto;
}

.Cats-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Cat-Card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  min-width: 250px;
}

.New-Cat-Form {
  text-align: center;
}

.carousel {
  margin: 5px auto;
  width: 50vw;
}

.caption {
  margin-top: -400px;
}
